@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Pacifico&family=Patrick+Hand+SC&family=Source+Sans+Pro&display=swap');
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  footer {
    box-sizing: border-box;
    background-color: black;
    opacity: 80%;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    height: 26px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  #backgroundPic{
    width: 100%;
    height:max-content;
    position: absolute;
    z-index: -1;
    
  }
  header{
    font-family: 'Pacifico', cursive; 
    display: flex;
    flex-direction: column; 
    align-items: center;   
    h2{
      color: rgb(255, 214, 52);
      font-size: 45px;
      margin: 0 0 10px 0;
    }
    #buttonBox{
      display: flex;
      justify-content: center;
      column-gap: 10px;
      margin-bottom: 10px;
      button{
        color: white;
        background-color: black;
        border-radius: 15px;
        border: 2px solid gray;
        padding:5px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Patrick Hand SC', 'Source Sans Pro', cursive;;

        &:hover{
          border: 2px solid yellow;
          cursor: pointer;
        }
      }
    }
  }
  #content-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    #modalBio{
      box-sizing: border-box;
      width: 505px;
      height: 756px;
      position: absolute;
      border-radius: 50px;
      background-color:black;
      opacity: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px 15px 20px;
      z-index: 1;
      transition: opacity 1s ease-in-out;
      &:hover{
        opacity:65%;
        cursor: pointer;
      }
      #modalHeader{
        font-size: 35px;
        font-family: Patrick Hand SC, Source Sans Pro,  sans-serif;
      }
      #modalText{
        font-size: 22px;
        font-family: Patrick Hand SC, Source Sans Pro, sans-serif;
      }
    }
    #chefPic{
      width: 500px;
      z-index: 0;
      position: absolute;
      border-radius: 50px;
      border-color:rgb(255, 214, 52);
      border-width: 2px;
      border-style: solid;
      &:hover{
        border-color: rgb(26, 148, 255);
        cursor: pointer;
      }
    }
    #menuBox{
      margin-left: -70px;
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 25px;
      width: 400px;
    }
    .menu-item{
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black;
      width: 200px;
      border-radius: 20px;
      opacity: 70%;
      padding: 10px;
      
      &:hover{
        border-color: yellow;
        cursor: pointer;
      }
    }
  }
  #quoteBoxBox{
    display: flex;
    justify-content: space-between;
    margin: 250px 50px 0 50px;

    #quoteBox{
      box-sizing: border-box;
      border-radius: 20px;
      background-color: black;
      width: 400px;
      opacity: 70%;
      padding: 5px 10px 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      h3{
        font-size: 25px;
        margin-bottom: 5px;
        font-family: 'Patrick Hand SC', 'Source Sans Pro',;
      }
      p{
        font-family:'Patrick Hand SC', 'Source Sans Pro',;
        font-size: 25px;
      }
      button{
        margin-bottom: 5px;
        border-radius: 15px;
        border: 2px solid white;
        background-color: black;
        color: white;
        padding: 4px;
        font-size: 20px;
        font-family: 'Patrick Hand SC';
        &:hover{
          cursor: pointer;
          border-color: yellow;
        }
      }      
  }
  #aboutUs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    background-color: black;
    
  }
}