body {
  background-color: rgb(240, 245, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  box-sizing: border-box;
  background-color: black;
  opacity: 80%;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 2px;
  height: 26px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
